html,
body {
  padding: 0px;
  margin: 0px;
}


body {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;

  margin: 0.7cm;
}

.container {
  display: flex;

  max-width: 10cm;
  margin-left: auto;
  margin-right: auto;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.bg {
  position: fixed;

  top: 0px;
  left: 0px;

  z-index: -1;

  width: 100vw;
  height: 100vh;

  background-attachment: fixed;

  background-image: url(bg.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes ping {

  75%,
  to {
    transform: scale(1.7);
    opacity: 0
  }
}

.icon {
  display: block;
  position: relative;
}

.icon2 {
  position: relative;
  display: block;
  width: 3cm;
  height: 3cm;
  border-radius: 1.5cm;

  margin-top: 3cm;
}

.icon3 {

  position: absolute;

  top: 0px;
  left: 0px;

  background-color: white;

  z-index: -1;

  animation: ping 1s ease-out infinite;
}

h1 {
  display: block;
  font-size: 1cm;
}

.button {
  transition: background 0.5s 0.1s ease;

  display: block;
  font-size: 0.5cm;
  padding: 0.4cm;
  color: white;
  background-color: black;
  border-radius: 0.3cm;
  border: none;

  width: 100%;
  margin-top: 0.7cm;

  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  transition: background 0.5s 0.1s ease;
  background-color: #f29c50;
}