body {
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
  text-align: center;

  background-attachment: fixed;

  background-image: url(bg.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 10cm;
}

.icon {
  width: 3cm;
  height: 3cm;
  border-radius: 1.5cm;
}